* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / (1920 / 10));
}

body {
  background-color: #fff;
  color: #000;
  &,
  & * {
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: calc(100vw / (1440 / 10));
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: calc(100vw / (1280 / 10));
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / (768 / 10));
  }
}
